[submodule "dependencies/linux/glfw"]
	path = dependencies/linux/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/linux/glm"]
	path = dependencies/linux/glm
	url = https://github.com/g-truc/glm
